* {
  margin: 0px;
  padding: 0px;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signerror {
  background-color: #f6abab;
  color: #710009;
  font-size: small;
  border-radius: 4px;
  padding: 5px;
  padding-left: 5px !important;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signerror span {
  position: absolute;
  right: 8px;
}
.signerror a,
.signerror strong {
  padding-left: 2px;
}

.signsuccess {
  background-color: #b8f6ab;
  color: #00711a;
  font-size: small;
  padding: 5px;
  padding-left: 5px !important;
  border-radius: 4px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signsuccess span {
  position: absolute;
  right: 8px;
}
.signsuccess a {
  padding-left: 2px;
}

.justify-input {
  width: 96% !important;
  padding-left: 2rem;
}

.ClassContainerBorder {
  margin: 26px 12px 26px 12px;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
  border: 2px solid #5093ff;
  box-shadow: rgba(131, 179, 255, 0.75) 0px 0px 9px inset;
}

.SubjectContainerBorder {
  margin: 26px 12px 26px 12px;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
  border: 2px solid #ad40ff;
  box-shadow: rgba(206, 141, 255, 0.76) 0px 0px 9px inset;
}

.StudentContainerBorder {
  margin: 26px 12px 26px 12px;
  padding: 2px 12px 2px 12px;
  border-radius: 10px;
  border: 2px solid #22eb83;
  box-shadow: rgba(143, 255, 143, 0.8117647059) 0px 0px 9px inset;
}

.select_status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container.mycontainer {
  background: linear-gradient(360deg, rgb(176, 176, 176), rgb(190, 190, 190));
  border-radius: 10px;
  margin-top: 10px;
}
.container.mycontainer .selectioncontainer {
  padding: 10px;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
}
.container.mycontainer .selectioncontainer .student {
  background: linear-gradient(218deg, rgb(225, 31, 255), #0501e5);
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 2px rgb(242, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 2rem;
  transition: 0.2s;
}
.container.mycontainer .selectioncontainer .teacher {
  background: linear-gradient(218deg, rgb(225, 31, 255), #0501e5);
  color: white;
  font-size: 2rem;
  box-shadow: 3px 3px 0px 2px rgb(242, 242, 242);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 2rem;
  transition: 0.2s;
}
.container.mycontainer .selectioncontainer .student:hover,
.container.mycontainer .selectioncontainer .teacher:hover {
  box-shadow: 2px 2px 0px 0px rgb(219, 219, 219);
  transform: translate(2px, 2px);
}

.DownloadProject {
  padding: 15px 2vw 15px 2vw;
}
.DownloadProject .col-2 {
  padding: 10px;
}
.DownloadProject .col-2 .mybtn {
  box-shadow: 2px 2px 0px 1px rgb(242, 242, 242);
  transition: 0.3s;
}
.DownloadProject .col-2 .mybtn a {
  text-decoration: none;
  color: white;
}
.DownloadProject .col-2 .mybtn:hover {
  box-shadow: 0px 0px 0px 0px rgb(242, 242, 242);
  transform: translate(2px, 2px);
}
.DownloadProject .col-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 10px;
}
.DownloadProject .col-9 a {
  text-decoration: none;
  color: rgba(60, 104, 255, 0.88);
  font-weight: 700;
}

.loginsection {
  background-color: rgb(245, 247, 251);
  height: -moz-max-content;
  height: max-content;
}

.loginname {
  text-shadow: 1px 1px #c7c7c7, 2px 2px #262626;
  color: rgba(var(--bs-primary-rgb)) !important;
  font-style: oblique;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.links {
  text-decoration: none;
  color: #7d11f3;
  font-weight: bold;
}

:root {
  --mypurple: rgb(182, 0, 210);
  --mypurple-opacity-low: rgba(182, 0, 210, 0.5);
  --mypurple-dark: rgb(154, 0, 174);
  --myblue: rgb(0, 0, 217);
  --myblue-dark: rgb(0, 0, 175);
  --myblue-light: rgb(158, 238, 253);
  --myblue-opacity-low: rgba(0, 0, 217, 0.5);
}

.mybtn:focus {
  color: #fff;
  background-color: var(--mypurple);
  border-color: var(--mypurple-dark);
  box-shadow: 0 0 0 0.25rem var(--mypurple-opacity-low);
}

.mybtn:focus:hover {
  box-shadow: 0 0 0 0.25rem var(--myblue-opacity-low);
  border-color: var(--myblue-dark);
}

.mybtn {
  background: linear-gradient(218deg, rgb(225, 31, 255), #0501e5);
  text-decoration: none;
  border: 0px solid var(--mypurple-dark);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.mybtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--myblue);
  transition: all 0.3s;
  z-index: -1;
  transform: translateX(-104%);
}

.mybtn:hover::before {
  color: white;
}

.mybtn:hover {
  color: #fff;
  border-color: var(--myblue);
}

.mybtn:hover::before {
  transform: translateX(0);
}

.TeacherClasses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.TeacherClasses h4 {
  color: #7d11f3;
}
.TeacherClasses h4 a {
  color: rgb(181, 44, 252);
}
.TeacherClasses .container {
  background: rgba(209, 209, 209, 0.37);
  box-shadow: 1px 1px 3px #818181;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.TeacherClasses .container .YourClass {
  color: #24c600;
  font-weight: bold;
}
.TeacherClasses .container .classlist {
  color: white;
}

#AddClassForm {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
#AddClassForm .AddClassInput {
  color: black;
}
#AddClassForm .AddClassInput::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(163, 163, 163) !important;
  opacity: 1; /* Firefox */
}
#AddClassForm .AddClassInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(163, 163, 163) !important;
  opacity: 1; /* Firefox */
}

#classlist,
#StudentList,
#SubjectList {
  width: 94%;
  font-size: 1.6rem;
}
#classlist li a,
#StudentList li a,
#SubjectList li a {
  color: #0005bc;
  text-decoration: none;
  display: block;
  padding-right: 0px;
}
#classlist li a .subjectname,
#classlist li a .ManageSubject,
#StudentList li a .subjectname,
#StudentList li a .ManageSubject,
#SubjectList li a .subjectname,
#SubjectList li a .ManageSubject {
  color: #f3f3f3;
  text-shadow: 0px 0px 4px #333333;
  background: linear-gradient(0deg, rgba(135, 181, 255, 0.7098039216), rgba(251, 34, 255, 0.45));
  padding: 3px;
  padding-left: 0.4rem;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px 0px 0px 4px;
  font-weight: bold;
}
#classlist li .thebutton,
#StudentList li .thebutton,
#SubjectList li .thebutton {
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
  text-transform: uppercase;
}
#classlist li .edit,
#StudentList li .edit,
#SubjectList li .edit {
  background: #de9102;
  border-radius: 0px;
  font-weight: bold;
}
#classlist li .edit :hover,
#StudentList li .edit :hover,
#SubjectList li .edit :hover {
  background: #d18b09 !important;
}
#classlist li .edit a,
#StudentList li .edit a,
#SubjectList li .edit a {
  color: white !important;
}
#classlist li .delete,
#StudentList li .delete,
#SubjectList li .delete {
  background: #c72400;
  border-radius: 0px 4px 4px 0px;
  font-weight: bold;
}
#classlist li .delete :hover,
#StudentList li .delete :hover,
#SubjectList li .delete :hover {
  background: #980200;
}

.ManageSubjectContainer a {
  color: #0005bc;
  text-decoration: none;
  display: block;
}
.ManageSubjectContainer a .ManageSubject {
  padding: 3px;
  background: linear-gradient(90deg, rgba(67, 139, 255, 0.9411764706), rgba(251, 34, 255, 0.65));
  color: #fdfbff;
  text-shadow: 0px 0px 10px #00149c;
  padding-left: 0.4rem;
  margin-top: 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center;
  font-size: 2em;
  display: flex;
}

.totalmarks {
  font-size: 2em;
  /* font-weight: bold; */
  padding: 1px 5px 1px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
}

.totalmarksTeacher {
  font-size: 2em;
  padding: 1px 5px 1px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(171, 171, 171, 0.71);
}

.StudentDiv {
  border-top: 1px rgba(105, 255, 112, 0.768627451) dashed;
  padding: 10px 0px 10px 0px;
}

.StudentResultform {
  background: linear-gradient(45deg, #5f9cff, rgba(251, 34, 255, 0.75)) !important;
}

.studentresultinput {
  background: transparent !important;
  padding: 4px;
  padding-left: 0.4rem;
  font-size: 1.4rem !important;
  font-weight: bold !important;
}

.studentInputText {
  color: #00db2b !important;
  color: #ffffff !important;
  text-shadow: 2px 2px 0px #0b6d00;
}

.SResultinputdiv {
  text-align: center;
}

.thestudentlog {
  border: 0px !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  border-bottom: 2px solid white !important;
  border-radius: 0px !important;
  text-align: left;
}

.dark-mood {
  background: rgb(40, 42, 53) !important;
  color: white !important;
  border-color: rgb(172, 172, 172) !important;
}

.dark-mood-light {
  background: rgb(62, 62, 62) !important;
  color: white !important;
  border-color: rgb(172, 172, 172) !important;
}/*# sourceMappingURL=style.css.map */